# ===== Banco de Dados =====
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=controle_contas

# ===== JWT =====
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ===== URLs =====
FRONTEND_URL=http://localhost
